<html>
	<head>
		<title>Project Passion</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<div class="main">
	  <header>
	    <h1>About Us</h1>
	    <h3> Project Passion is an app that connects people with global issues so everyone can contribute and improve the world around them.</h3>
	  </header>
	</div>
</html>