<!DOCTYPE HTML>
<html>
	<head>
		<title>Project Passion</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
		<link rel="shortcut icon" type="image/x-icon" href="https://www.wpclipart.com/people/groups/more_groups/earth_holding_hands.png" />
	</head>
	<body class="is-loading">
		<!-- Wrapper -->
			<!--<div id="wrapper" class="fade-in">-->
				<!-- Intro -->
			<!--		<div id="intro">-->
			<!--			<h1>Project Passion</h1>-->
			<!--			<p>A free, fully responsive HTML5 + CSS3 site template designed by <a href="https://twitter.com/ajlkn">@ajlkn</a> for <a href="https://html5up.net">HTML5 UP</a><br />-->
			<!--			and released for free under the <a href="https://html5up.net/license">Creative Commons license</a>.</p>-->
			<!--			<ul class="actions">-->
			<!--				<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>-->
			<!--			</ul>-->
			<!--		</div>-->
				<!-- Nav -->
					<nav id="nav">
						<ul class="icons">
							<li><a href="https://twitter.com/kodewithklossy?lang=en" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/kodewithklossy/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/kodewithklossy/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<!-- Featured Post -->
							<!--<article class="post featured">-->
							<!--	<header class="major">-->
							<!--		<span class="date">April 25, 2017</span>-->
							<!--		<h2><a href="#">Project Passion</a></h2>-->
							<!--		<p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br />-->
							<!--		facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br />-->
							<!--		amet nullam sed etiam veroeros.</p>-->
							<!--	</header>-->
							<!--	<a href="#" class="image main"><img src="images/pic01.jpg" alt="" /></a>-->
							<!--	<ul class="actions">-->
							<!--		<li><a href="#" class="button big">Full Story</a></li>-->
							<!--	</ul>-->
							<!--</article>-->
					
					<header id="header">
						<br>
						<br>
						<br>
						<img src="https://www.freelogoservices.com/api/main/ph/zjHl2lgef9cYrQL0JFa7kzbw2vuCpR9HmR3E0jp9OXdE9g5shnN1i...Bv9ettdV9dsBUGw0pY">
					</header>


						<!-- Posts -->
					
					
					<div id="main">
						<h2>Take Our Quiz and Find Your Passion</h2>
					
					<form method="post" action="results">
						<div id="centertest">
					<p class="question">1. Of these three, who is your role model?</p>    
					<ul class="answers">            
					<input type="radio" name="q1" value="Emma Watson" id="q1a"><label for="q1a">Emma Watson</label>         
					<input type="radio" name="q1" value="Shakira" id="q1b"><label for="q1b">Shakira</label>            
					<input type="radio" name="q1" value="Big Sean" id="q1c"><label for="q1c">Big Sean</label>           
					</ul>
					
			
					<br>
					<p class="question">2. Why do you want to volunteer?</p>        
					
					<ul class="answers">            
					<input type="radio" name="q2" value="Help children" id="q2a"><label for="q2a">To help children.</label>           
					<input type="radio" name="q2" value="Help planet" id="q2b"><label for="q2b">To help the planet.</label>          
					<input type="radio" name="q2" value="Help needy" id="q2c"><label for="q2c">To help the needy.</label>         
					</ul>        
			
				
					<p class="question">3. What is most important to you?</p>      
					
					<ul class="answers">            
					<input type="radio" name="q3" value="Education" id="q3a"><label for="q3a">Education</label>         
					<input type="radio" name="q3" value="Equality" id="q3b"><label for="q3b">Equality</label>           
					<input type="radio" name="q3" value="Health" id="q3c"><label for="q3c">Health</label>          
					</ul>        
					<br>
					<p class="question">4. Pick a song.</p>    
					
					<ul class="answers">           
					<input type="radio" name="q4" value="Who Run the World?" id="q4a"><label for="q4a">'Who Run the World?(Girls)'-Beyonce</label>            
					<input type="radio" name="q4" value="Pray" id="q4b"><label for="q4b">'Pray'-Justin Bieber</label>    
					<input type="radio" name="q4" value="Where is the Love?" id="q4c"><label for="q4c">'Where is the Love?'-Black Eyed Peas</label>          
					</ul>      
				
					<p class="question">5. How do you prefer to volunteer?</p>      
					
					<ul class="answers">            
					<input type="radio" name="q5" value="Indirectly" id="q5a"><label for="q5a">Indirectly (Donations,Sending items, etc.)</label>        
					<input type="radio" name="q5" value="Directly" id="q5b"><label for="q5b">Directly (Labor, physically going to a facility)</label>
					<input type="radio" name="q5" value="Both" id="q5c"><label for="q5c">Both</label>           
					</ul>  
					<input type="submit" value="Submit" action="results">
					</div>
					</form>
					
	
						<!-- Posts -->
							<section class="posts">
								<article>
									<header>
										<h2><a href="#">Water Crisis</a></h2>
									</header>
									<a href="#" class="image fit"><img src="http://capitaloutlook.com/site/wp-content/uploads/2016/02/flint-860x450_c.jpg" alt="" /></a>
									<p>All over the world, 1 in 10 people do not have access to clean water. Here in the states in Flint, MI, the lead level in water is rising, resulting in 9,000 children with lead poisoning. Only 2.5% of the world's water is fresh and 1% is easily accesible, making it very hard for the citizens of Flint to improve their quality of life. </p>
								</article>
								<article>
									<header>
										<h2><a href="#">Educating Girls</a></h2>
									</header>
									<a href="#" class="image fit"><img src="http://www.aljazeera.com/mritems/Images/2011/10/7/201110712112494112_8.jpg" alt="" /></a>
									<p>There are 65 million girls globally that are not in school. That's 10 million more girls out of school than boys. With this education issue comes less educated people, less people in the work force, and countries not using their full potential. Girls like Malala Yousafzai are being shot just for attending school. The stigma of educating women around the world is an uphill battle, but it is one to defeat. </p>
									
								</article>
								<article>
									<header>
										<h2><a href="#">Poverty</a></h2>
									</header>
									<a href="#" class="image fit"><img src="http://i.cbc.ca/1.3241893.1443110179!/cpImage/httpImage/image.jpg_gen/derivatives/16x9_1180/un-anti-poverty-summit.jpg" alt="" /></a>
									<p>How much do you spend on coffee every morning? Probably more than nearly two-thirds of the population who live on just $2.50 a day, or less. Why not funnel some of this money into helping to end world poverty? It does not take as much as you may think. It's estimated that it would take only 60 billion dollars every year to end extreme global poverty. That's less than one-fourth of the income of the top one hundred richest billionares. Putting a stop to world poverty is possible with your help. </p>
									
								</article>
								<article>
									<header>
										<h2><a href="#">World Hunger</a></h2>
									</header>
									<a href="#" class="image fit"><img src="http://www.chinadaily.com.cn/photo/images/attachement/jpg/site1/20120920/0023ae9885da11c4f5a815.jpg" alt="" /></a>
									<p>The world produces enough food to feed every person on this planet, so why are 842 million people suffering from hunger worldwide? 9 million people are dying every year from hunger, when in developed countries we throw away our table scraps that could save someone's life. The root of all this hunger- poverty. Those who have a smaller income and/or are in undeveloped countries are more likely to be anemic, have failed crops, and die from being hungry. With more resources and your help, a person somewhere will not go to bed hungry.</p>
								</article>
								<article>
									<header>
										<h2><a href="#">Women's Rights</a></h2>
									</header>
									<a href="#" class="image fit"><img src="http://raggedyfan.com/wp-content/uploads/2015/09/doctor-who-companions-power.jpg" alt="" /></a>
									<p>Women make only 78 cents for every white man's dollar. This does not mention that African-American and Latina women earn 64 and 56 cents. This might explain why women earn only 10% of the world's and own only 1% of the world's land, yet there is an equal number of women. Not to mention, in certain countries, women can not vote, drive, or go to school. Go to a march, take a stand, and fight for half of the world's population.</p>
								</article>
								<article>
									<header>
										<h2><a href="#">Pollution</a></h2>
									</header>
									<a href="#" class="image fit"><img src="https://c402277.ssl.cf1.rackcdn.com/photos/1344/images/story_full_width/Pollution_8.5.2012_Impacts_HI_106417.jpg?1345542784" alt="" /></a>
									<p>Pollution is one of the biggest global killers, affecting over 100 million people. The cleanest place on Earth is Antarctica, where barely anyone has explored. Pollution is linked to the death of animals, global warming, and the quality of the air we breath. Simple solutions to fight pollution can be found almost anywhere. Start by recycling or planting a garden so you can further expand your knowledge on how to help Mother Earth.</p>
								</article>
							</section>

						<!-- Footer -->
							<footer>
								<div id="cats">
									<img src="https://www.freelogoservices.com/api/main/ph/zjHl2lgef9cYrQL0JFa7kzbw2vuCpR9HmR3E0jp9OXdE9g5shnN1i...Bv9ettdV9dsBUGw0pY">
									<h4>About Us</h4>
									<p>Project Passion was created by Hannah, Savannah, and Sophie from Kode with Klossy 2017. Our goal is to educate people about the many crisis of the world and find a way for everyone to help. We target some well-known issues and expand on a few with more resources and facts.</p>
								</div>
							</footer>

					</div>

				<!-- Footer -->
					<footer id="footer">
							<section>
								<h3>Social</h3>
								<ul class="icons alt">
									<li><a href="https://twitter.com/kodewithklossy?lang=en" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com/kodewithklossy/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/kodewithklossy/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
								</ul>
							</section>
						</section>
					</footer>

				<!-- Copyright -->
					<div id="copyright">
						<ul><li>&copy; Smart Kookies</li><li>Design: <a href="https://html5up.net">Project Passion</a></li></ul>
					</div>

			</div>

		 
			<script src="/public/js/jquery.min.js"></script>
			<script src="/public/js/jquery.scrollex.min.js"></script>
			<script src="/public/js/jquery.scrolly.min.js"></script>
			<script src="/public/js/skel.min.js"></script>
			<script src="/public/js/util.js"></script>
			<script src="/public/js/main.js"></script>

	</body>
</html>