<!DOCTYPE HTML>
<html>
	<head>
		<title>Project Passion</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
		<link rel="shortcut icon" type="image/x-icon" href="https://www.wpclipart.com/people/groups/more_groups/earth_holding_hands.png" />
	</head>
	<body class="is-loading">
		<!-- Wrapper -->
			<!--<div id="wrapper" class="fade-in">-->
				<!-- Intro -->
			<!--		<div id="intro">-->
			<!--			<h1>Project Passion</h1>-->
			<!--			<p>A free, fully responsive HTML5 + CSS3 site template designed by <a href="https://twitter.com/ajlkn">@ajlkn</a> for <a href="https://html5up.net">HTML5 UP</a><br />-->
			<!--			and released for free under the <a href="https://html5up.net/license">Creative Commons license</a>.</p>-->
			<!--			<ul class="actions">-->
			<!--				<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>-->
			<!--			</ul>-->
			<!--		</div>-->
				<!-- Nav -->
					<nav id="nav">
						<ul class="icons">
							<li><a href="https://twitter.com/kodewithklossy?lang=en" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.facebook.com/kodewithklossy/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://www.instagram.com/kodewithklossy/?hl=en" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
					<!-- Featured Post -->
							<!--<article class="post featured">-->
							<!--	<header class="major">-->
							<!--		<span class="date">April 25, 2017</span>-->
							<!--		<h2><a href="#">Project Passion</a></h2>-->
							<!--		<p>Aenean ornare velit lacus varius enim ullamcorper proin aliquam<br />-->
							<!--		facilisis ante sed etiam magna interdum congue. Lorem ipsum dolor<br />-->
							<!--		amet nullam sed etiam veroeros.</p>-->
							<!--	</header>-->
							<!--	<a href="#" class="image main"><img src="images/pic01.jpg" alt="" /></a>-->
							<!--	<ul class="actions">-->
							<!--		<li><a href="#" class="button big">Full Story</a></li>-->
							<!--	</ul>-->
							<!--</article>-->
					
					<header id="header">
						<br>
						<br>
						<br>
						<img src="https://www.freelogoservices.com/api/main/ph/zjHl2lgef9cYrQL0JFa7kzbw2vuCpR9HmR3E0jp9OXdE9g5shnN1i...Bv9ettdV9dsBUGw0pY">
					</header>

    <body>
      <h2>Your Result Is ...</h2> <br>
        <div class="container">
          <div class="row">
             <h2> <%=@score_output %> </h2>
          </div>
        </div>  
    </body>
</html>       